#break-interval-container {
    width: 200px;
    text-align: center;
}

#break-time-interval {
  display: flex;
  align-items: center;
  justify-content: center;
}

.break-time {
  margin: 0 15px;
  font-size: 1.5rem;
  font-weight: 500;
}

.sesh-title h4 {
  font-family: 'GT Walsheim Pro';
  font-size: 1rem;
  color: #80D0C7;
  margin-bottom: 10px;
}