.resources-container {
    width: 300px;
    height: 250px;
    border-radius: 25px;
    padding: 20px 10px;
    color: #242424;
  }
  .resources-select{
   text-align: center;
  }
 .select {
   border: 2px solid #242424;
    width: 75%;
    padding: 1em;
    font-size: 12px;
    font-weight: bold;
    text-decoration: none;
 }
  .header {
    margin: 0.5em;
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
    border-radius: 15px 15px 0 0;
    line-height: 50px;
    color: white;
    background: linear-gradient(-135deg, #80D0C7, #7DD48E);
  }

  .resources-li {
    padding: .75em;
    font-size: 12px;
    font-weight: bold;
  }

  .resources-a {
    text-decoration: none;
    color: #4b4b4b;
  }

  .resources-a:hover {
    text-decoration: underline;
  }