.insp-container {
    width: 30%;
    height: 100%;
    border-radius: 25px;
    padding: 20px 10px;
    color: #242424;
    margin-inline: auto;
  }
  .select {
    border: 2px solid #242424;
    width: 80%;
    padding: 1em;
    font-size: 12px;
    font-weight: bold;
    text-decoration: none;
    border-radius: 25px;
  }
  .header {
    margin: 0.5em;
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
    border-radius: 15px 15px 0 0;
    line-height: 50px;
    color: white;
    background: linear-gradient(-135deg, #80D0C7, #7DD48E);
    font-family: 'GT Walsheim Pro';
  }
  .insp-total{
    text-align: center;
    color:#242424;
  }
  .insp-string{
    font-size: 1.5rem;
    text-align: left;
    margin-top: 5px;
    margin-left: 15px;
    padding: 2px;
  }
  .insp-image{
    width: 95%;
  }
  .insp-author{
    text-align: center;
    padding-inline: 5%;
  }
  
  