#about {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: white;
  font-family: 'GT Walsheim Pro', sans-serif;
}
.column {
  float: left;
  width: 50%;
}
.row {
  display: flex;
  margin-left: 50px;
  justify-content: center;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}
.about-h1{
  padding-top: 100px;
  margin-left: 60px;
  font-size: 50px;
  font-weight: bold;
}
.about-h2{
  font-size: 30px;
  font-weight: bold;
}
.about-p{
  font-size: 20px;
  margin: 10px;
}
.btn-link{
  width: 100px;
}
.about-li{
  text-align: left;
  font-size: 20px;
  padding: -40px;
}
.spacing-top{
  padding-top: 0px;
}
/* Mobile responsiveness */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
  .row {
    display: table;
    padding: 20px;
    margin-left: 0px;
  }
  .about-h1{
    margin: auto;
  }
  .spacing-top{
    padding-top: 50px;
  }
}
