@font-face {
  font-family: 'GT Walsheim Pro';
  src: url('./components/font/GTWalsheimPro-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.Home {
  background: linear-gradient(#7BD860, #7DD48E, #80D0C7);
  min-height: 100vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  font-family: 'GT Walsheim Pro', sans-serif;
}
.home-header {
  position: fixed;
  width: 100vw;
  height: 196px;
  left: 0px;
  top: 0px;
  z-index: 2;
}
.sesh-logo {
  position: absolute;
  left: 2.33%;
  right: 90.87%;
  top: 4px;
  bottom: 2.55%;
  cursor: pointer;
  z-index: 3;
  height: 60px;
  cursor: pointer;
}

#navbar{
  position: absolute;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 65.31%;
  background: rgba(256, 256, 256, .5);
  box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
}
h1{
  font-size: 100px;
  margin: 0;
}
p{
  font-size: 30px;
  margin: 25px;
}
.btn{
  background-color: #FFFFFF;
  border: none;
  border-radius: 100px;
  color: #7BD860;
  padding: 20px;
  text-align: center;
  font-weight: bold;
  display: inline-block;
  font-size: 16px;
  margin: 0px;
  box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
}

.btn:hover{
  color:#80D0C7;
  transform: scale(1.03);
}

.login-register{
  width: 200px;
  cursor: pointer;
}
.about-us{
  width: 200px;
  cursor: pointer;
}

.login-submit{

  margin-top: 10px;
  width: 200px;
  cursor: pointer;
}

.login-input{
  
  box-shadow: inset #abacaf 0 0 0 2px;
  border: 0;
  background: rgba(255, 255, 255, 0.767);
  appearance: none;
  position: relative;
  border-radius: 3px;
  line-height: 1.2;
  color: rgb(0, 0, 0);
  font-weight: 400;
  height: 25px;
  transition: all .2s ease;
  

}

.login-input:hover{
  box-shadow: 0 0 0 0 #fff inset, #80D0C7 0 0 0 2px;
}
.login-input:focus{
  background: #fff;
  outline: 0;
  box-shadow: 0 0 0 0 #fff inset, #4b4b4b 0 0 0 3px;
}

.aboutus-text{
  margin-left: 20%;
  margin-right: 20%;

}

.about-list{
text-align: left;

}