@font-face {
  font-family: 'GT Walsheim Pro';
  src: url('./components/font/GTWalsheimPro-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
.btn{
  background-color: #FFFFFF;
  border: none;
  border-radius: 100px;
  color: #7BD860;
  padding: 20px;
  text-align: center;
  font-weight: bold;
  display: inline-block;
  font-size: 16px;
  margin: 0px;
  box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
  width: 200px;
  cursor: pointer;
}
.btn:hover{
  color:#80D0C7;
  transform: scale(1.03);
  box-shadow: 0 0 0 0 #fff inset, #80D0C7 0 0 0 2px;
}
.btn:focus{
  background: #fff;
  outline: 0;
  box-shadow: 0 0 0 0 #fff inset, #4b4b4b 0 0 0 3px;
}
.background-gradient{
  background: linear-gradient(#7BD860, #7DD48E, #80D0C7);
}
.background-solid-green{
  background: #7BD860;
}
.background-solid-blue{
  background: #80D0C7;
}
.spacing-top{
  padding-top: 0px;
}
.background-solid-white{
  background: #FFFFFF;
}
